<div class="container footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutWrap fxLayoutGap="10px">
    <div fxFlex="100%" fxFlex.gt-sm="50%">
        <div fxLayout="row">
            <div fxFlex="40" fxFlexOffset="20px">
                <h4>Links</h4>
                <mat-list>
                    <mat-list-item><a mat-button routerLink="/home">Home</a></mat-list-item>
                    <mat-list-item><a mat-button routerLink="/aboutus">About</a></mat-list-item>
                    <mat-list-item><a mat-button routerLink="/menu">Menu</a></mat-list-item>
                    <mat-list-item><a mat-button routerLink="/contactus">Contact</a></mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="50">
                <h4>Our Address</h4>
                <address style="text-size: 80%">
                    121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>
                    <em class="fa fa-phone"></em>: +852 1234 5678<br>
                    <em class="fa fa-fax"></em>: +852 8765 4321<br>
                    <em class="fa fa-envelope"></em>:
                    <a href="mailto:confusion@food.net">confusion@food.net</a>
                </address>
            </div>
        </div>
    </div>
    <div fxFlex="100%" fxFlex.gt-sm="45%">
        <div style="text-align:center">
            <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><em
                    class="fa fa-google-plus fa-lg"></em></a>
            <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><em
                    class="fa fa-facebook fa-lg"></em></a>
            <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><em
                    class="fa fa-linkedin fa-lg"></em></a>
            <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><em class="fa fa-twitter fa-lg"></em></a>
            <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><em class="fa fa-youtube fa-lg"></em></a>
            <a mat-icon-button class="btn-mail" href="mailto:"><em class="fa fa-envelope-o fa-lg"></em></a>
        </div>
    </div>
    <div fxFlex="100" fxFlexAlign="center center">
        <div style="text-align:center;">
            <p>© Copyright 2021 Ristorante Con Fusion</p>
        </div>
    </div>
</div>